<html>
<head>
  <meta charset="UTF-8">
  <!-- this line removes any default padding and style. you might only need one of these values set. -->
  <style> body {padding: 0; margin: 0;}</style>
</head>

<body>
{{{body}}}

  <!-- <div id="p5_loading" class="loadingclass">this could be some sweet graphics loading lots of bits.</div> -->
  <script language="javascript" type="text/javascript" src="./js/p5.js"></script>
  <!-- <script language="javascript" src="./js/p5.sound.js"></script> -->
  <script language="javascript" type="text/javascript" src="./js/sketch.js"></script>
<script type='text/javascript' src='./js/p5.dom.js'></script>
</body>
</html>
